<ul *ngIf="pages?.length > 0 " class="pagination">

    <li class="page-item" *ngIf="paginator.number > 0">
        <a [routerLink]="['/clients/page', paginator.number - 1]" class="page-link">&laquo;</a>
    </li>

    <li class="page-item" *ngFor="let page of pages" [ngClass]="page-1 == paginator.number?'disabled':''">
        <span class="page-link"  *ngIf="page - 1 == paginator.number"> {{ page }} </span>
        <a *ngIf="page - 1 != paginator.number" class="page-link" [routerLink]="[ '/clients/page', page-1 ]">{{ page }}</a>
    </li>

    <li class="page-item" *ngIf="paginator.number < paginator.totalPages - 1">
        <a [routerLink]="['/clients/page', paginator.number + 1]" class="page-link">&raquo;</a>
    </li>
</ul> 