<ClientDetail *ngIf="selectedClient" [client]="selectedClient"></ClientDetail>

<div class="card bg-light mb-3 my-4 cardClient">
  <div class="card-header">Clients</div>
  <div class="card-body text-primary">
    <h5 class="card-title">List of clients</h5>

    <div class="my-2 text-left">
      <button *ngIf="authService.hasRole('ROLE_ADMIN')"
        class="btn btn-rounded btn-primary"
        [routerLink]="['/clients/form']"
      >
        Create Client
      </button>
    </div>

    <div id="listBox">

      <div *ngIf="clients?.length == 0" class="alert alert-info">Client list is empty</div>

    <table class="table table-bordered table-striped" *ngIf="clients?.length > 0">
      <thead>
        <tr>
          <!-- *ngIf="authService.hasRole('ROLE_USER')" -->
          <th *ngIf="authService.hasRole('ROLE_USER')">Img</th>
          <th>Name</th>
          <th>Surname</th>
          <th>Email</th>
          <th>Date</th>
          <th *ngIf="authService.hasRole('ROLE_ADMIN')">Create Bill</th>
          <th *ngIf="authService.hasRole('ROLE_ADMIN')">Edit</th>
          <th *ngIf="authService.hasRole('ROLE_ADMIN')">Delete</th>
        </tr>
      </thead>

      <tbody *ngFor="let client of clients">
        <tr>
          <!-- *ngIf="authService.hasRole('ROLE_USER')" -->
          <td *ngIf="authService.hasRole('ROLE_USER')">
              <img *ngIf="client?.img" (click)="openModal(client)" src="http://localhost:9090/api/uploads/img/{{ client.img }} " alt="" class="img-thumbnail rounded" style="width: 64px; cursor: pointer">
              <img *ngIf="!client?.img" (click)="openModal(client)" src="http://localhost:9090/img/noUser.png " alt="no photo" class="img-thumbnail rounded" style="width: 64px; cursor: pointer">
          </td>

          <td>{{ client.name }}</td>
          <td>{{ client.surname | uppercase }}</td>
          <td>{{ client.email }}</td>
          <td>{{ client.createAt | date:"longDate" }}</td>
          <td *ngIf="authService.hasRole('ROLE_ADMIN')">
            <button [routerLink]="['/bills/form', client.id]" class="btn btn-success btn-sm">
              Create Bill
            </button>
          </td>
          <td *ngIf="authService.hasRole('ROLE_ADMIN')">
            <button [routerLink]="['/clients/form', client.id]" class="btn btn-primary">Edit</button>
          </td>
          <td *ngIf="authService.hasRole('ROLE_ADMIN')">
            <button (click)="delete(client)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <paginador  *ngIf="paginator" [paginator] = "paginator"></paginador>

    
  </div>
  </div>
</div>
