<div class="card bg-light mb-3 my-4">
  <div class="card-header">Clients</div>
  <div class="card-body text-primary">
    <h5 class="card-title">List of clients</h5>

    <div class="my-2 text-left">
      <button
        class="btn btn-rounded btn-primary"
        [routerLink]="['/clients/form']"
      >
        Create Client
      </button>
    </div>

    <div id="listBox">
    <table class="table table-bordered table-striped ">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Surname</th>
          <th>Email</th>
          <th>Create At</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>

      <tbody *ngFor="let client of clients">
        <tr>
          <td>{{ client.id }}</td>
          <td>{{ client.name }}</td>
          <td>{{ client.surname }}</td>
          <td>{{ client.email }}</td>
          <td>{{ client.createAt }}</td>
          <td>
            <button [routerLink]="['/clients/form', client.id]" class="btn btn-primary">Edit</button>
          </td>
          <td>
            <button (click)="delete(client)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>
