<div class="card bg-light" *ngIf="bill">
  <div class="card-header">{{ title }}: {{ bill.description }}</div>

  <div class="card-body">
    <h4 class="card-title">
      <a [routerLink]="['/clients']" class="btn-ligth btn-xs">&laquo; Go back</a>
    </h4>

    <ul class="list-group my-2">
        <li class="list-group-item list-group-item-primary">Client's details</li>
        <li class="list-group-item">{{ bill.client.name }}</li>
        <li class="list-group-item"> {{ bill.client.surname }}</li>
    </ul>

    <ul class="list-group my-2">
        <li class="list-group-item list-group-item-primary">Bill's details</li>
        <li class="list-group-item">Num {{ bill.id }}</li>
        <li class="list-group-item">Description: {{ bill.description}}</li>
        <li class="list-group-item">Date: {{ bill.createAt }}</li>
    </ul>
  
</div>
</div>
