<div *ngIf="modalService.modal" class="open-modal animation fadeIn">
<div class="modal" tabindex="-1" role="dialog" style="display: block;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button (click)="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        

        <div class="container">

          <div class="row">

            <div class="col-sm">

                <ul *ngIf="client" class="list-group text-dark mb-3">
                    <li class="list-group-item active">{{ client.name }}</li>
                    <li class="list-group-item">{{ client.surname }}</li>
                    <li class="list-group-item">{{ client.email }}</li>
                    <li class="list-group-item">{{ client.createAt | date:"fullDate" }}</li>
                    <li class="list-group-item">{{ client.region.name }}</li>
                  </ul>

                 <div *ngIf="authService.hasRole('ROLE_ADMIN')" class="upload-btn-wrapper btn-block">
                    <button class="btn btn-block">Upload a image</button>
                    <input (change)="selectImage($event)" type="file" name="imgSelected"/>
                  </div>

                  <button *ngIf="authService.hasRole('ROLE_ADMIN')" class="btn btn-success btn-block" (click)="uploadImage()">Guardar</button>


                <div *ngIf="progress > 0" class="progress" style="height: 40px">
                  <div class="progress-bar progress-bar-striped" role="progressbar" [ngStyle]="{ width: progress+'%' }" attr.aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100">
                    {{ progress }}%
                  </div>
                </div>

            </div>

            <div class="col-sm">
              <img *ngIf="client?.img" src="http://localhost:9090/api/uploads/img/{{ client.img }} " alt="" class="img-thumbnail rounded">
            </div>
          
          </div>


            
          <div class="row">

              <div *ngIf="client.bills.length == 0" class="alert alert-info my-4">
                  This client has no bills
              </div>

              <table *ngIf="client.bills.length > 0" class="table table-bordered table-striped my-4">
             
                  <thead>
                    <tr>
                        <th>Bill</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Amount</th>
                    </tr>
                    
                  </thead>
    
                  
                  <tbody>
                     <tr *ngFor="let bill of client.bills">
                        <td>{{ bill.id }}</td>
                        <td>{{ bill.description }}</td>
                        <td>{{ bill.createAt }}</td>
                        <td>{{ bill.total }}</td>
                     </tr>
                  </tbody>
    
                </table>
                 
          </div>


        </div>


      </div>
      <div class="modal-footer">
        <button  (click)="closeModal()" class="btn btn-secondary" data-dismiss="modal">Close</button>
       </div>
    </div>
  </div>
</div>

</div>
            
      

